<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:sws="http://www.springframework.org/schema/web-services"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
							http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
							http://www.springframework.org/schema/web-services
							http://www.springframework.org/schema/web-services/web-services-2.0.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<context:component-scan base-package="org.xdr.webservice" />
	<sws:annotation-driven />

	<!--
		Our test service bean
	
	<bean id="CatalogContentService" class="org.springframework.ws.wsdl.wsdl11.DefaultWsdl11Definition" lazy-init="true">
        <property name="schemaCollection">
            <bean class="org.springframework.xml.xsd.commons.CommonsXsdSchemaCollection">
                <property name="inline" value="true" />
                <property name="xsds">
                    <list>
                        <value>schemas/ebRS/cms.xsd</value>
                    </list>
                </property>
            </bean>
        </property>
        <property name="portTypeName" value="CatalogContentService"/>
        <property name="serviceName" value="CatalogContentServices" />
        <property name="locationUri" value="/endpoints"/>
    </bean>
-->

	<bean class="org.springframework.ws.transport.http.WebServiceMessageReceiverHandlerAdapter">
    	<property name="messageFactory">
    		<bean class="org.springframework.ws.soap.saaj.SaajSoapMessageFactory"></bean>
    		<!-- <bean class="gov.onc.xdrtesttool.xml.XdrSoapMessageFactory"></bean> -->
    	</property>
    </bean>
    <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
        <property name="mappings">
           <props>
             <prop key="*.wsdl">sampleServiceDefinition</prop>
             <prop key="/XDRService">XDRServiceEndpoint</prop>
           </props>
        </property>
        <property name="defaultHandler" ref="messageDispatcher"/>
    </bean>
   
	<bean id="XDRServiceEndpoint" class="gov.onc.xdrtesttool.xdrservice.endpoint.XDRSeviceMessageReceiverEndpoint"/>
    <bean id="messageDispatcher" class="org.springframework.ws.soap.server.SoapMessageDispatcher"/>
    
    <bean class="org.springframework.ws.transport.http.WsdlDefinitionHandlerAdapter"/>
    
    <bean id="sampleServiceDefinition" class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
       <!--  <property name="wsdl" value="/WEB-INF/wsdl/XDS.b_DocumentRegistry.wsdl"/> -->
       <property name="wsdl" value="/WEB-INF/wsdl/orderService.wsdl"/>
       
    </bean>

</beans>